/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
}



/* PRIMERA PANTALLA */
.titulo h1{
    font-family: klnifed;
    font-size: 10em;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

.centro{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
}

.imagen_titulo{
    margin: 3em 0 3em 0;
    
}

.imagen_titulo img{
    height: 15em;
    width: 15em;
}


.subtitulo{
    font-family: klnifed;
    font-size: 5em;
    background: -webkit-linear-gradient(left top, rgb(137, 134, 126), #f3e7e1);
    background: linear-gradient(to bottom right, rgb(137, 134, 126), #f3e7e1);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}



/* SEGUNDA PANTALLA */
#pantalla2{
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
    justify-content: center;
}

.seleccionar .titulo2{
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
    margin: .5em 0 0 0;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

.seleccionar .subtitulo2{
    text-align: center;
    margin: 1em 0;
    text-transform: uppercase;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top, rgb(137, 134, 126), #f3e7e1);
    background: linear-gradient(to bottom right, rgb(137, 134, 126), #f3e7e1);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;    
}

.luchadores{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
}

.luchador{
    border: 2px solid transparent;
    margin: 0 .4em;
}

.luchador .nom{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}
.seleccionar img{
    width: 8em;
    height: 10em;
}

.seleccionar .luchador:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}



.fighterscont .p1f{
    text-align: center;
    font-size: 18px;
    background: -webkit-linear-gradient(left top, rgb(137, 134, 126), #f3e7e1);
    background: linear-gradient(to bottom right, rgb(137, 134, 126), #f3e7e1);
    font-weight: bold;
    font-family: klnifed;
}


/* TERCERA PANTALLA */
#pantalla3{
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
    justify-content: center;
}

.p1message{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}



/* CUARTA PANTALLA */
#pantalla4{
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
}

#pantalla4 .seleccionar{
    width: 100%;
}

.getready2{
    text-align: center;
    font-size: 30px;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prerest{
    text-align: center;
    margin-top: 3em;
}

.preround1{
    color: wheat;
}





/* QUINTA PANTALLA */
#pantalla5{
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
}

.bodyfight{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.bloca, .blocb{
    text-align: center;
    color: white;
    padding: 2em;
}

.punch{
    text-align: center;
}

#fist{
    width: 100px;
    height: 100px;
}

#fist:hover{
    cursor: pointer;
}

.luch1name, .luch2name, .luch3name {
    font-size: 35px;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

.luch1life, .luch2life, .luch3life{
    font-size: 25px;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}




.fighterscont{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.carasel {
    position: relative;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}


/* SEXTA PANTALLA */
#pantalla6{
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
}

.winteam{
    font-size: 45px;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

.wpinfo{
    font-size: 25px;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

.totres{
    font-size: 25px;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
}

.centrar_6{
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

.carasganan img{
    margin-top: 3em;
    height: 300px;
    
}