/* ESTILOS GENERALES */
*{
    margin: 0;
    padding: 0;
}



/* PRIMERA PANTALLA */
.titulo h1{
    font-family: klnifed;
    font-size: 10em;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

.centro{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
}

.imagen_titulo{
    margin: 3em 0 3em 0;
    
}

.imagen_titulo img{
    height: 15em;
    width: 15em;
}


.subtitulo{
    font-family: klnifed;
    font-size: 5em;
    background: -webkit-linear-gradient(left top, rgb(137, 134, 126), #f3e7e1);
    background: linear-gradient(to bottom right, rgb(137, 134, 126), #f3e7e1);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}



/* SEGUNDA PANTALLA */
#pantalla2{
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
    justify-content: center;
}

.seleccionar .titulo2{
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
    margin: .5em 0 0 0;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

.seleccionar .subtitulo2{
    text-align: center;
    margin: 1em 0;
    text-transform: uppercase;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top, rgb(137, 134, 126), #f3e7e1);
    background: linear-gradient(to bottom right, rgb(137, 134, 126), #f3e7e1);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;    
}

.luchadores{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-top: 4em;
}

.luchador{
    border: 2px solid transparent;
    margin: 0 .4em;
}

.luchador p{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}
.seleccionar img{
    width: 8em;
    height: 10em;
}

.seleccionar .luchador:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}

/* .luchador:hover{
    border: 2px solid black;
} */

#bt2{
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 8em;
    border-radius: 7em 4em 6em 5em;
    border: none;
    font-size: 2em;
    font-weight: bold;
    font-family: klnifed;
    background: linear-gradient(to bottom right, red, #0a5b3a);
    color: blanchedalmond;
}

#bt2:hover{
    cursor: pointer;
}



/* TERCERA PANTALLA */
#pantalla3{
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
    justify-content: center;
}

.p1message{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}



/* CUARTA PANTALLA */
#pantalla4{
    background: linear-gradient(to bottom, #3c0936, #17011d);
    height: 100vh;
}

.titulo4{
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: #fff;
    margin: .5em 0 .5em 0;
    font-family: klnifed;
    background: -webkit-linear-gradient(left top,);
    background: linear-gradient(to bottom right, red, #0a5b3a);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;  
}

#pantalla4 .seleccionar{
    width: 100%;
}

#pantalla4 .escenario{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.escenario .luchadores_left{
    display: flex;
    flex-direction: column;
}

.escenario .luchadores_right{
    display: flex;
    flex-direction: column;
}

/* QUINTA PANTALLA */
#pantalla5{
    background-color: green;
    height: 100vh;
}









.fighterscont{
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* .fightlm {

    position: relative;
    margin-left: 275px;
    
}

.p1f1 {
    position: relative;
    width: 220px;
    height: 200px;
    
}

.p1f2 {
    position: relative;
    width: 220px;
    height: 200px;
}

.p1f3 {
    position: relative;
    width: 220px;
    height: 200px;
}

.p2f1 {
    position: relative;
    width: 220px;
    height: 200px;
    
}

.p2f2 {
    position: relative;
    width: 220px;
    height: 200px;
}

.p2f3 {
    position: relative;
    width: 220px;
    height: 200px;
}

.fightrm {
    position: relative;
    margin-right: 250px;
    
} */


.carasel {
    position: relative;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}